name: CI

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    qa:
        name: Run Rust QA
        uses: nigeleke/github/.github/workflows/rust-qa.yml@main

    rust-publish:
        name: Rust Publish
        needs:
            - qa
        uses: nigeleke/github/.github/workflows/rust-publish.yml@main
        secrets: inherit

    crates-io-publish:
        name: Crates.io Publish
        needs:
            - rust-publish
        uses: nigeleke/github/.github/workflows/crates-io-publish.yml@main
        secrets: inherit
