name: CI

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    qa:
        name: Run Dioxus QA
        uses: nigeleke/github/.github/workflows/dioxus-qa.yml@main
        with:
            platform: web
            env: |
                {
                  "SQLX_OFFLINE": "true"
                }

    integration-tests:
        name: Integraion tests
        runs-on: ubuntu-latest
        env:
            DATABASE_URL: postgres://postgres:password@localhost:5432/cribbage
        services:
            postgres:
                image: postgres
                env:
                    POSTGRES_USER: postgres
                    POSTGRES_PASSWORD: password
                    POSTGRES_DB: cribbage
                options: >-
                    --health-cmd="pg_isready -U postgres"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=5
                ports:
                    - 5432:5432
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Install sqlx-cli
              run: cargo install sqlx-cli --no-default-features --features postgres

            - name: Run database migrations
              run: |
                  cd packages/server
                  sqlx migrate run

            - name: Run all tests
              run: |
                  pwd
                  cargo test --all-features

    bundle:
        name: Bundle
        needs:
            - qa
            - integration-tests
        uses: nigeleke/github/.github/workflows/dioxus-bundle.yml@main
        with:
            platform: web

    publish:
        name: Publish
        needs:
            - qa
            - integration-tests
        uses: nigeleke/github/.github/workflows/rust-publish.yml@main
        secrets: inherit
